.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
    color: rgb(130, 117, 107);
    color: rgb(130, 117, 107);
    text-decoration: none;
    font-size: 25px;
}

.form {
    margin: 0 auto;
    width: 80%;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 30%;
    border-bottom: 1px solid #ddd;
    background-color: rgb(130, 117, 107);
    font-weight: bold;
    color: #fff;
}

.confirm-table__text {
    height: 70px;
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.confirm-table__textbox {
    height: 150px;
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

input {
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    margin-right: 50px;
    width: 15%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: rgb(130, 117, 107);
    color: #fff;
    cursor: pointer;
}
