.header {
    background: #fff;
    font-family: "Noto Serif", serif;
    border-bottom: 1px solid rgb(130, 117, 107);
}

.header__inner {
    margin: 0 auto;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo {
    color: rgb(130, 117, 107);
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    margin-left: 400px;
    font-size: 35px;
}

.header-nav {
    margin-left: 300px;
    ;
}

.header-nav__item {
    background-color: rgb(244, 244, 244);
    border: 1px solid rgb(130, 117, 107);
    padding: 15px;
    color: rgb(130, 117, 107);
}

.header-nav__link {
    text-decoration: none;
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
}

main {
    background-color: rgb(241, 236, 230);
}

.register__content {
    height: 850px;
}

.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.register-form__heading {
    padding: 50px 0 50px 0;
    text-align: center;
    font-size: 25px;
    color: rgb(130, 117, 107);
}

.form {
    margin: 0 auto;
    padding: 100px 0 100px 0;
    width: 40%;
    text-align: center;
    background-color: #fff;
}

.form__group {
    margin: 0 auto;
    margin-bottom: 5px;
    width: 50%;
    color: rgb(130, 117, 107);
}

.form__group-title {
    margin-bottom: 15px;
    text-align: left;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: rgb(244, 244, 244);
    appearance: none;
}

.form__button {
    margin-top: 50px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: rgb(130, 117, 107);
    color: #fff;
    cursor: pointer;
}